body {
    background-color: #000000 !important;
    margin: 0 !important;
    padding: 0 !important;
}


.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.page-item .page-link {
    background-color: #1a1a1a;
    color: #ffffff;
    border: none;
}

.page-item.active .page-link {
    background-color: #333333;
    color: #ffffff;
}

.page-item.disabled .page-link {
    color: #cccccc;
    pointer-events: none;
}

.page-item .page-link:hover {
    background-color: #555555;
    color: #ffffff;
}

.genres-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.genre {
    background-color: #6f5555;
    color: white;
    padding: 3px 6px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}